In [5]:
import psycopg2
import csv

In [14]:

conn = psycopg2.connect(
    host="localhost",
    dbname="stock_data",
    user="postgres",
    password="password"
)
print("Connected to PostgreSQL database successfully.")
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:password@localhost:5432/stock_data")

Connected to PostgreSQL database successfully.

In [10]:
import pandas as pd

csvfile = 'stock.csv'

data = pd.read_csv(csvfile)

df = pd.DataFrame(data)

In [11]:
df.head()

,username,first_name,last_name,email,gender,ip_address,stock,buyDate,buyPrice,sellDate,gain/loss_percent,StockHighest,StockLowest
0,jelstow0,Javier,Elstow,jelstow0@chron.com,Male,150.18.144.115,Enterprise Bancorp Inc,12/23/2023,54.69,2/12/2024,-10.04,150.3975,10.3911
1,cgoldstone1,Colline,Goldstone,cgoldstone1@amazon.co.uk,Agender,41.249.161.43,"Fortress Biotech, Inc.",12/25/2023,112.73,2/28/2024,83.93,182.6226,16.9095
2,mwithams2,Matthieu,Withams,mwithams2@thetimes.co.uk,Male,33.86.144.220,NaN,2/14/2024,178.78,2/22/2024,127.80,461.2524,134.0850
3,jtomenson3,Justinn,Tomenson,jtomenson3@businessinsider.com,NaN,96.177.232.165,"ARMOUR Residential REIT, Inc.",1/17/2024,78.53,2/7/2024,47.15,181.4043,76.9594
4,aborgesio4,Ahmed,Borgesio,aborgesio4@drupal.org,Bigender,198.184.176.183,NaN,2/12/2024,102.79,4/26/2024,192.79,263.1424,74.0088

In [15]:
df.to_sql('stock_data',engine,if_exists='replace')

1000